.main_hero_btn{
    background-color: var(--white) ;
    color: black;
    font-weight: 700;
    padding: var(--space2x) var(--space4x);
    border-radius: var(--space4x);
    border: none;
    box-shadow: 6px 4px var(--red);
    transition: transform 50ms, box-shadow 50ms;
   
}


.main_hero a{
    display: flex;
    justify-content: center;
    padding-top: var(--space5x);
    padding-bottom: var(--space4x);
}


.card_title{
    font-family: var(--font-family-2);
    font-size: var(--title-xl);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.5;
    padding-bottom: var(--space2x);
    width: 132px;
    margin: 0;
    
   
}

.card-top{
    display: flex;
    justify-content: space-between;
    padding-top: var(--space5x);
}

.card_figure {
    width: 100%;
    margin: 0;
    padding-top: var(--space4x);
}

.card_figcaption-left{
    font-family: var(--font-family-3);
    font-size: var(--text-lg);
    font-weight: normal;
    width: 77px;
}

.info_card{
    display: flex;
    flex-wrap: wrap;
}


.main_info_card {
    padding-top: var(--space4x);
}
.main_info a{
    display: flex;
    justify-content: center;
    padding-top: var(--space5x);
    padding-bottom: var(--space4x);
}


.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 10 / 4; 
    max-width: fit-content;}
    .div2 { grid-area: 2 / 2 / 4 / 3; 
    width: 260px; text-align: center;}
    .div3 { grid-area: 4 / 2 / 8 / 3;
     }


.formulaire .input{
    background-color: transparent;
    border: var(--white) solid 1px;
    color: var(--white);
}


.formulaire textarea{
    height: 120px;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

.formulaire .send {
    background-color: var(--white) ;
    color: black;
    font-weight: 700;
    padding: var(--space2x) var(--space4x);
    border-radius: var(--space4x);
    border: none;
    margin-top: var(--space5x) ;
}